body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    margin: 0;
    padding: 10px;
}

.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.title {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 200px;
    }
    .title {
        text-align: left;
    }
}

main {
    margin: 2em;
}

.img {
    width: 100%;
}

.bio {
    display: inline-block;
    font-size: 18px;
}

.gallery-side {
    width: 100%;
}

.gallery-bottom {
    display: none;
}

@media only screen and (min-width: 600px) {
    .bio {
        width: 40%;
        text-align: justify;
        vertical-align: top;
    }
    .gallery-bottom {
        width: 100%;
    }
    .gallery-side {
        display: inline-block;
        width: 59%;
    }
}

.section {
    margin-top: 75px;
}

.section a {
    text-decoration: underline;
    padding: 1px;
}

.section a:hover, .section a:focus {
    background-color: #D1BA1A;
}
