.nav {
    display: none;
    font-size: 24px;
}

@media only screen and (min-width: 600px) {
    .nav {
        height: 75px;
        display: flex;
        align-items: center;
    }
}

.nav.open-mobile {
    display: block;
}
.nav.open-mobile ul {
    display: block;
}

.nav.open-mobile ul[role="menubar"] {
    padding-left: 0;
}

ul {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
    padding: 5px 1em;
}

svg {
    width: 16px;
    height: 10px;
    padding-right: 1em;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover,
ul[role="menu"] [role="menuitem"]:focus,
ul[role="menu"] [role="menuitem"]:hover,
ul[role="menubar"] [role="menuitem"]:focus svg,
ul[role="menubar"] [role="menuitem"]:hover svg{
    background-color: #D1BA1A;
}

ul[role="menubar"] li {
    list-style: none;
}

li {
    padding-top: 5px;
}

@media only screen and (min-width: 600px) {
    li {
        padding: 5px 1em;
        display: inline-block;
        vertical-align: middle;
    }
    ul[role="menu"] [role="menuitem"] {
        padding: 0.25em;
        background-color: #3F7797;
    }

    ul[role="menubar"] > li {
        display: inline-block;
        position: relative;
        margin: 0;
        padding: 0;
    }

    ul[role="menubar"] ul[role="menu"] {
        display: none;
        position: absolute;
        top: -2px;
        left: 0;
        margin: 0;
        padding: 0;
    }

    ul[role="menubar"] ul[role="menu"] li a {
        display: block;
        width: 9em;
    }
}
